@page "/AllUsers"


<h3>UsersList</h3>

@if(Users==null||Users.Count()<1){
    <h2>Loading...</h2>
}else{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Email</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Action</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in @Users)
            {
                <tr>
                    <td>@user.FirstName</td>
                    <td>@user.LastName</td>
                    <td>@user.Email</td>
                    <td>@user.PhoneNumber</td>
                    <td><a href="/detail/user/{@user.Id}" 
                        class="btn btn-info"> Detail </a></td>
                    <td><button type="submit" class="btn btn-danger"
                        @onclick="@(()=>{ConfirmDelelte(
                            user.Id,user.FirstName);})">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<a href="/create/user"  class="btn btn-primary"> Create User</a>