@page "/create/user"
@using NajotBooking.Web.Models.Foundations.Users

<div class="row border p-2" style="max-width: 800px; margin: 0 auto;">
    <h1 class="text-primary text-center">New User</h1> 
    <hr />
    <EditForm Model="@user" OnValidSubmit="@PostUser">
        <DataAnnotationsValidator/>
        <div class="mb-3 mt-3">
            <InputText @bind-Value="@user.FirstName" class="form-control"
                name="FirstName" placeholder="FirstName" />
            <ValidationMessage For="@(()=>@user.FirstName)"/>
        </div>
        <div class="mb-3 mt-3">
            <InputText @bind-Value="@user.LastName" class="form-control"
                name="LastName" placeholder="LastName" />
            <ValidationMessage For="@(()=>@user.LastName)" />
        </div>
        <div class="mb-3 mt-3">
            <InputText @bind-Value="@user.PhoneNumber" class="form-control"
                name="PhoneNumber" placeholder="PhoneNumber" />
            <ValidationMessage For="@(()=>@user.PhoneNumber)" />
        </div>
        <div class="mb-3 mt-3">
            <InputText @bind-Value="@user.Email" class="form-control"
                name="Email" placeholder="Email" />
            <ValidationMessage For="@(()=>@user.Email)" />
        </div>
        <input type="submit" class="btn btn-primary" value="Send" name="submit" />
    </EditForm>
</div>