@page "/detail/user/{Id}"
@using NajotBooking.Web.Models.Foundations.Users

@if(@user==null){
    <h3>Loading...</h3>
}else{

    <EditForm Model="@user" OnValidSubmit="@UpdateUser">
        <DataAnnotationsValidator />
        <div class="mb-3 mt-3">
            <InputText @bind-Value="@user.FirstName" name="FirstName" placeholder="FirstName" />
            <ValidationMessage For="@(()=>@user.FirstName)" />
        </div>
        <div class="mb-3 mt-3">
            <InputText @bind-Value="@user.LastName" name="LastName" placeholder="LastName" />
            <ValidationMessage For="@(()=>@user.LastName)" />
        </div>
        <div class="mb-3 mt-3">
            <InputText @bind-Value="@user.PhoneNumber" name="PhoneNumber" placeholder="PhoneNumber" />
            <ValidationMessage For="@(()=>@user.PhoneNumber)" />
        </div>
        <div class="mb-3 mt-3">
            <InputText @bind-Value="@user.Email" name="Email" placeholder="Email" />
            <ValidationMessage For="@(()=>@user.Email)" />
        </div>
        <input type="submit" class="btn btn-primary" name="submit"  value="change"/>
    </EditForm>
}

@code{

}