@page "/detail/user/{Id}"
@using NajotBooking.Web.Models.Foundations.Users

@if(@user==null){
    <p class="text-center">Loading...</p>
}else{
<div class="row border p-2" style="max-width: 800px; margin: 0 auto;">
    <h1 class="text-primary text-center">Edit User</h1> 
    <hr />
    <EditForm Model="@user" OnValidSubmit="@UpdateUser">
        <DataAnnotationsValidator />
        <div class="mb-3 mt-3">
                <InputText @bind-Value="@user.FirstName" name="FirstName" placeholder="FirstName" class="form-control" />
            <ValidationMessage For="@(()=>@user.FirstName)" />
        </div>
        <div class="mb-3 mt-3">
                <InputText @bind-Value="@user.LastName" name="LastName" placeholder="LastName" class="form-control" />
            <ValidationMessage For="@(()=>@user.LastName)" />
        </div>
        <div class="mb-3 mt-3">
                <InputText @bind-Value="@user.PhoneNumber" name="PhoneNumber" placeholder="PhoneNumber" class="form-control" />
            <ValidationMessage For="@(()=>@user.PhoneNumber)" />
        </div>
        <div class="mb-3 mt-3">
                <InputText @bind-Value="@user.Email" name="Email" placeholder="Email" class="form-control" />
            <ValidationMessage For="@(()=>@user.Email)" />
        </div>
        <input type="submit" class="btn btn-primary" name="submit"  value="Update"/>
    </EditForm>
</div>
}

@code{

}