@page "/AllOrders"

<h3>OrdersList</h3>

@if (Orders == null || Orders.Count() < 1)
{
    <h2>Loading...</h2>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Price</th>
                <th scope="col">Start</th>
                <th scope="col">End</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Orders)
            {
                <tr>
                    <td>@order.Price ,@order.Duration</td>
                    <td>@order.StartDate</td>
                    <td>@order.EndDate</td>
                    <td>
                        <a href="/detail/order/{@order.Id}"
                   class="btn btn-info"> Detail </a>
                    
                        <button type="submit" class="btn btn-danger"
                        @onclick="@(()=>{ConfirmDelelte(
                            @order.Id);})">
                            Delete
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<a href="/create/order" class="btn btn-primary"> Create Order</a>

@code {

}
